.loader-main {
  @apply fixed top-0 left-0 h-full w-full;
}
.backdrop {
  @apply opacity-50 pointer-events-auto bg-transparent bg-black z-10;
}
.position {
  @apply flex items-center align-middle justify-center h-full;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #9f7aea;
  @apply rounded-full z-10 w-12 h-12;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
